# Gradle
.gradle/
build/**
!build/libs/
!build/libs/*.jar
out/
classes/

# IDEs
.idea/
*.iml
.vscode/

# Fabric
run/

# Java crash/log files
hs_err_*.log
replay_*.log
*.hprof
*.jfr

# Local Meteor dependency
libs/meteor-client-1.21.11-local.jar